<div class="container" *ngIf="!show">
    <h1 class="h1 fw-bolder">BENVINGUT!</h1>
    <h2>Judit Santos - Sprint-6</h2>
    <p class="text p-4 m-5 rounded-3" id="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae eveniet iure reprehenderit voluptates inventore aperiam labore, aut deserunt porro mollitia est commodi quos nesciunt vitae molestias, amet explicabo sit similique.
    </p>
    <button class="btn btn-outline-dark fw-bold w-50" (click)="showStory()">Comença</button>
</div>

<div class="container" *ngIf="show">
    <app-escena  [stories]="stories" ></app-escena>
</div>
